<div class="container1">
  <div class="row">
    <div class="col-md-6">
      <form id="login-form" class="box" method="POST" action="/auth/signup">
        <h1>Sign Up</h1>
        <p class="pepe123" class="text-muted"> Please enter your username and password!</p>
        <input id="pepe14" class="pepe123" type="text" name="username" placeholder="Username">
        <input id="pepe14" class="pepe123" type="password" name="password" placeholder="Password">
        <input class ="login-button" id="login-btn" type="submit" value="Sign Up" href="#">
      </form>
    </div>
  </div>
</div>

{{#if errorMessage}}
<div>
  <p class="error-message"> {{ errorMessage }}</p>
</div>
{{/if}}