
<form action="/private/{{post.id}}/edit" method="POST">
  <label for="Comment">Edit comment:</label>
  <input type="text" name="content">
  
  <button  class="createPost" type="submit">Edit</button>
</form>