<nav id="nav1" class="navbar navbar-expand-lg  ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/images/Time LY. (4).png" width="200" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/auth/logout">Log Out</a>
        <a class="nav-link" href="/private/profile">Profile</a>
        <a class="nav-link" href="/private/feed">Feed</a>
        <a class="nav-link" href="/private/quiz">Quiz</a>
        <form id="searchbar" class="noback" action="/private/search" method="GET">
          <input class="search-bar" type="text" name="search">
          <button id="golden1" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>



<form action="/private/{{post.id}}/edit" method="POST">
  <label for="Comment">Edit comment:</label>
  <input type="text" value={{post.content}} name="content">
  
  <button  class="createPost" type="submit">Edit</button>
</form>