<nav  id="nav1" class="navbar navbar-expand-lg  ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/private/feed"><img src="/images/Time LY. (4).png" width="200" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/auth/signup">Signup</a>
        <a class="nav-link" href="/auth/login">Login</a>
      </div>
    </div>
  </div>
</nav>

<div id="PPP">
  <h1 id = "pepe12">The social network for series geeks</h1>
  <h2 id="pepe13">Get series recommendations based on your favorite genre</h2>
  <div class="buttonsHP">
    <a href="/auth/signup"><button id="TTT">Sign Up</button></a>
    <a href="/auth/login"><button id="piton1" >Log In</button></a>
  </div>
</div>