<div id="PPP">
  <h1>We suggest you what to watch.</h1>
  <h2>You review what you have seen.</h2>
  <div class="buttonsHP">
    <a href="/auth/signup"><button id="TTT">Sign Up</button></a>
    <a href="/auth/login"><button id="TTT">Log In</button></a>
  </div>
</div>