<div id="PPP">
  <h1>We suggest you what to watch.</h1>
  <h2>You review what you have seen.</h2>
  <div class="buttonsHP">
    <button id="TTT">Log In</button>
    <button id="TTT">Sign Up</button>
  </div>
</div>