<h1>{{series.title}}</h1>
<p>{{series.plot}}</p>
<p>{{series.actors}}</p>
<img src={{series.image}} alt="">
<form  method="POST">
  <button class="btn btn-dark" id="likebtn"><i class="fas fa-heart"></i></button>
</form>