<nav id="nav1" class="navbar navbar-expand-lg  ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/private/feed"><img src="/images/Time LY. (4).png" width="200" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/auth/logout">Log Out</a>
        <a class="nav-link" href="/private/profile">Profile</a>
        <a class="nav-link" href="/private/feed">Feed</a>
        <a class="nav-link" href="/private/quiz">Quiz</a>
       
        <form id="searchbar" class="noback" action="/private/search" method="GET">
          <input class="search-bar" type="text" name="search">
          <button id="golden1" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>

<h1 id="quiz-title">Choose your favorite genre of series</h1>
<hr class="style-one">
<div class="quiz">
  <form id="quiz-form"action="/private/recommendations" method="POST">
    <div class="container2">
      <ul class="ks-cboxtags">
        <li><input type="checkbox" id="checkboxOne" name="Action"><label id= "labels1" for="checkboxOne">Action</label></li>
        <li><input type="checkbox" id="checkboxTwo" name="Comedy"><label id= "labels1" for="checkboxTwo">Comedy</label></li>
        <li><input type="checkbox" id="checkboxThree" name="Drama"><label id= "labels1" for="checkboxThree">Drama</label></li>
        <li><input type="checkbox" id="checkboxFour" name="Mystery"><label id= "labels1" for="checkboxFour">Mystery</label></li>
        <li><input type="checkbox" id="checkboxFive" name="Thriller"><label id= "labels1" for="checkboxFive">Thriller</label></li>
        <li><input type="checkbox" id="checkboxSix" name="Adventure"><label id= "labels1" for="checkboxSix">Adventure</label></li>
        <li><input type="checkbox" id="checkboxSeven" name="Horror"><label id= "labels1" for="checkboxSeven">Horror</label></li>
        <li><input type="checkbox" id="checkboxEight" name="Romance"><label id= "labels1" for="checkboxEight">Romance</label></li>
        <li><input type="checkbox" id="checkboxNine" name="Crime"><label id= "labels1" for="checkboxNine">Crime</label></li>
        <li><input type="checkbox" id="checkboxTen" name="Western"><label id= "labels1" for="checkboxTen">Western</label></li>
        <li><input type="checkbox" id="checkboxTwelve" name="Animation"><label id= "labels1" for="checkboxTwelve">Animation</label>
        </li>
        <li><input type="checkbox" id="checkboxThirteen" name="Family"><label id="labels1" for="checkboxThirteen">Family</label></li>
      </ul>
      <button id="quizButton" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

