<h1>Hello! Please answer these questions so we can suggest you series according to your likes.</h1>

<form action="/private/quiz" method="POST">

<label for="question1">What is bla</label>

<button type="submit" href="/private/recommendations" class="btn btn-primary">Submit</button>
</form>