<h1>Hello! Please answer these questions so we can suggest you series according to your likes.</h1>

<form action="/private/quiz" method="POST">


 <label for="comedy">Comedy</label>
<input type="checkbox" name="comedy"> 
 <label for="drama">Drama</label>
<input type="checkbox" name="drama"> 
<label for="action">Action</label>
<input type="checkbox" name="action"> 
 




<button type="submit"  class="btn btn-primary">Submit</button>
</form>

