<h1>Hello! Please answer these questions so we can suggest you series according to your likes.</h1>

<form action="/private/quiz" method="POST">

<label for="question1">Chose Your Favorite genres</label>

<input type="checkbox" class="tag">Adventure</input>
<input type="checkbox" class="tag">Comedy</input>
<input type="checkbox" class="tag">Fantasy</input>
<input type="checkbox" class="tag">Acction</input>
<input type="checkbox" class="tag">Drama</input>
<input type="checkbox" class="tag">Thriller</input>
<input type="checkbox" class="tag">Horror</input>
<input type="checkbox" class="tag">Science Fictiom</input>
<input type="checkbox" class="tag">Animatiom</input>


<button type="submit" href="/private/recommendations" class="btn btn-primary">Submit</button>
</form>