<h1>Here's a list of films you will love</h1>

{{#each comedies}}
<h2>{{title}}</h2>
<h3>{{actors}}</h3>
<img src={{image}} alt=>
par
<a href="/private/series/{{id}}">Movie details</a>
  
<form   action="/private/recommendations" method="POST">
  <button class="btn btn-dark" id="likebtn" ><i class="fas fa-heart"></i></button>
</form>

{{/each}}



